* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width: 78.33%;
    margin: 0 auto;
    z-index: 99;
}

nav {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

nav>div #logo {
    height: 47px;
    width: 148px;
}

nav #manu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    font-size: 2rem;
    text-align: center;


}

/* nav style end  */

.hero {
    height: 455px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FEEAE9;
    border-radius: 15px;
    margin-bottom: 40px;
    position: relative;
}

.hero #hero-text {
    height: 95%;
    width: 55%;
    margin: 10px;
}

.hero #hero-text h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1F1F1F;
}

.hero #hero-text p {
    font-size: 1rem;
    line-height: 26px;
    color: #4E4E4E;
    margin-bottom: 30px;

}

.hero #hero-text h3 {
    color: #FF136F;
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.hero #hero-text button {
    background-image: linear-gradient(to right, #FF589B, #FF589B);
    color: white;
    height: 47px;
    width: 165px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .4s ease;
    text-decoration: none;

}

.hero #hero-text button:hover,
footer button:hover {
    background-image: linear-gradient(to right, #fc0050, #d10054);
    transform: scale(1.02);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.658);
}

.hero #hero-img {
    height: 80%;
    width: 40%;

}

/* hero section end  */

.Categories {
    height: 198px;
    padding: 20px 0;

}

.Categories h1,
.shoes h1 {
    font-size: 36px;
    font-weight: 550;
}

.Categories .Categories-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    gap: 25px;
}

.Categories .Categories-items .categories-item {
    height: 120px;
    width: 358px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 36px;
    transition: all .3s ease;
}


.Categories .Categories-items .categories-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;


}


.Categories .Categories-items .caregories-item1 {
    background-color: #FF9C35;
}

.Categories .Categories-items .caregories-item2 {
    background-color: #FF136F;
}

.Categories .Categories-items .caregories-item3 {

    background-color: #3F07F8;

}


.Categories .Categories-items .categories-item:hover {
    transform: scale(1.013);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.658);
}

.Categories .Categories-items .categories-item:hover div {
    transform: translateX(-20px);
}


/* shoes style  */
.shoes {
    margin: 8% 0 1% 0;

}

.shoes h1 {
    margin-bottom: 20px;
}

/* h1 hover */
h1 {
    transition: all .2s ease;
}

h1:hover {
    text-shadow: 0 10px 20px #d10054;
}

.shoes-container {


    display: flex;
    justify-content: space-between;
    text-align: center;

    flex-wrap: wrap;

}

.shoes-container .sho {
    height: 68vh;
    width: 25Vw;
    padding: 10px;
    border: 2px solid #929292;
    border-radius: 16px;
    transition: all .3s ease-in-out;
}

.sho img {
    transition: all .3s ease;
    height: 45%;
}

.sho:hover {
    transform: translateY(-20px);
    border-color: #d10054;
}

.sho:hover img {
    transform: translateX(-28px);
}



.shoes-container .sho h2 {
    font-size: 1.5rem;
    font-weight: 510;
    margin-bottom: 15px;
}

.shoes-container .sho p {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 13px;
    color: #4E4E4E;
}

.shoes-container .sho pre {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

.shoes-container .sho button {
    height: 52px;
    width: 168px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    transition: all .3s ease;


}

.shoes-container .sho button i {
    margin-left: 8px;
    transition: all .3s ease;
}


/* common btn style  */
.shoes-container .sho button:hover {
    background-color: #d10054;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.658);
    transform: scale(1.02);
}

.shoes-container .sho button:hover i {
    transform: translateX(8px);
}


footer {
    height: 50vh;
    background-color: #FFF2F1;
    margin: 60px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .ftr-text {
    margin-bottom: 20px;
}

footer .ftr-text h1 {
    font-size: 30px;
    font-weight: 500;
    color: #FFF2F1;
}

footer .ftr-text p {
    font-size: 1rem;
    font-weight: 300;
    color: #707070;

}

div .email {
    height: 73px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer input {
    padding: 10px 40px;
    font-size: 1.5rem;
    height: 100%;
    width: calc(40vw - 157px);
    outline: none;
    border: 1px solid transparent;
    margin-right: 0;
    transition: all .3s ease;
}

footer input:hover {
    border: 1px solid #FF136F;
}

footer button {
    height: 100%;
    width: 157px;
    background: linear-gradient(to right, #FF589B, #FF136F);
    outline: none;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    transition: all .3s ease;
}

@media only screen and (max-width : 1200px) {

    .hero {
        height: 400px;

    }

    .hero #hero-text h1 {
        font-size: 3em;
        margin: 20px 0 15px 0;

    }

    .hero #hero-text p {
        margin-bottom: 25px;

    }

    .Categories h1,
    .shoes h1 {
        font-size: 30px;
    }

    .shoes {
        margin: 5% 0 1% 0;

    }

    .sho img {
        transition: all .3s ease;
        height: 42%;
    }

    .shoes-container .sho {
        padding: 8px;
        ;
    }

    .shoes-container .sho h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .shoes-container .sho p {
        margin-bottom: 10px;
    }

    .shoes-container .sho pre {
        font-size: 22px;
        padding-bottom: 12px;
    }

.shoes-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        gap: 40px;




    }

    .shoes-container .sho {
        height: 500px;
        width: 350px;
        padding: 10px;
        border: 2px solid #929292;
        border-radius: 16px;
        transition: all .3s ease-in-out;
    }
.Categories .Categories-items .categories-item div img {
        width: 70%;
    }


}



@media only screen and (max-width : 992px) {

    body {
        width: 80%;
    }


    .hero {
        height: 400px;
     display: flex;
    flex-direction: column;
position: relative;

    }

    .hero #hero-text {
        height: 50%;
        width: 100%;
        margin: 10px;
    }


    .hero #hero-text p {
        font-size: .8rem;
        margin-top: 10px;
        margin-bottom: 22px;
        width: 50%;

    }

    .hero #hero-img {
        width: 35%;
        height: 80%;
        display: flex;
        padding: 0;
        align-items: center;
        justify-self: center;
        position: absolute;
        bottom: 0;
        right: 80px;
        margin: 200px 0 0 100px;

    }

    .hero #hero-img>img {
     height: 80%;


    }

    .Categories .Categories-items .categories-item {
        display: flex;
        align-items: center;
        font-size: 32px;

    }


    .Categories .Categories-items .categories-item div img {
        width: 80%;
    }

    .shoes-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        gap: 40px;




    }

    .shoes-container .sho {
        height: 68vh;
        width: 350px;
        padding: 10px;
        border: 2px solid #929292;
        border-radius: 16px;
        transition: all .3s ease-in-out;
    }


    div .email {
        width: 80vw;
        flex-direction: column;
        gap: 20px;
        margin: 40px 0 0 0;

    }

    footer input {
        height: 100%;
        width: 90%;

    }

    footer button {
        height: 500px;
        width: 200px;
        border-radius: 6px;
    }

}


@media only screen and (max-width : 640px) {
    body {
        width: 95%;
    }

    .hero {
        height: 70vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        background-color: #FEEAE9;
        border-radius: 15px;
        margin-bottom: 40px;
       
    }

    .hero #hero-text {
        height: 45%;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }

    .hero #hero-text h1 {
        font-size: 1.8rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .hero #hero-text p {
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 20px;
        font-size: 1rem;
        margin-bottom: 22px;
width: 100%;

    }

    .hero #hero-text h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

  
    

    .hero #hero-img {
        position: absolute;
        right: 180px;
        bottom: 0;
        height: 280px;
    }
.hero #hero-img img{
    margin: 50px 0 0 0;
}

    .Categories {
    height: 75vh;
    padding: 20px 0;

}

.Categories h1,
.shoes h1 {
    font-size: 36px;
    font-weight: 550;
}

.Categories .Categories-items {
    flex-direction: column;
    margin-top: 24px;
    gap: 25px;
}

.Categories .Categories-items .categories-item {
    width: 100%;
    height: 200%;
    flex-direction: column;
    padding: 0px 15px ;
    border-radius: 6px;
    font-weight: 500;
    font-size: 2rem;

}


.Categories .Categories-items .categories-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;

}

  .shoes-container .sho {
        height: 58vh;
        width: 350px;
        padding: 10px;
        border: 2px solid #929292;
        border-radius: 16px;
        transition: all .3s ease-in-out;
    }


}